

#heoSection{
    background-color:#F0FFF0;
}
.barnd_logo{
    width: 150px;
}

.nav-link {

    color: #666;
  
}
.carousel_single_item{
    min-height: 400px;

}

.bannerContent {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bannerContent h1 {
    width: 320px;
}
.bannerContent p{
    color: #666;
}

/* carousel css */
.carousel-indicators [data-bs-target] {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    margin-right: 6px;
    margin-left: 6px;
    background-color: #00a357;

}
.facilityBox {
    background-color: #F0FFF0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px 15px;
    border-radius: 5px;
    transform: scale(1);
   
}

.facilityBox img {
    width: 80px;
    height: 120px;
}
.facilityBox:hover{
    transform: scale(1.1);
    box-shadow: 2px 7px 6px #b4dac8;
    transition: transform .5s ease-in-out;
}
.lightBox{
    transform: scale(1.1);
    box-shadow: 2px 7px 6px #b4dac8;
    transition: transform .5s ease-in-out;
}
.lightBox:hover{
    transform: scale(1);
    box-shadow:none
}



/* online courses csss start */
.courseContentWrapper {
    border-radius: 10px;
    padding: 15px;
    box-shadow: 1px 2px 5px #777;
}
.courseContentBottom p{
    color: #777;
}

.BottomHeading {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.BottomHeading p{
    font-size: 15px;
}
.BottomHeading p i{
   margin-right:4px;
   color: green;
}

/* footer area start */
#footerSection {
    background-color: #000;
    color: #fff;
    padding: 30px 10px;
}
.courseTitle {
    margin-bottom: 10px;
}
.courseList li a{
    color: #fff;
    font-size: 14px;
    font-weight: 200;
}